# Node
PORT=8000

# Postgres Database
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=<5432>
POSTGRES_USER=<DATABASE_USERNAME>
POSTGRES_PASSWORD=<DATABASE_SECRET_PASSWORD>
POSTGRES_DB=<DATABASE_NAME>

# Postgres Web Admin
PGADMIN_DEFAULT_EMAIL=<PGADMIN_DEFAULT_EMAIL>
PGADMIN_DEFAULT_PASSWORD=<SECRET_PASSWORD>


# JWT
# Jwt's secret keys
JWT_ACCESS_SECRET=<JWT_ACCESS_SECRET>
JWT_REFRESH_SECRET=<JWT_REFRESH_SECRET>
JWT_EXPIRES_IN=<JWT_EXPIRES_IN>
JWT_REFRESH_TIME=<JWT_REFRESH_TIME>

# JWT options
JWT_ISSUER=<COMPANY_NAME>
JWT_SUBJECT=<COMPANY_EMAIL>
JWT_AUDIENCE=<COMPANY_DOMAIN>

# Database
DATABASE_URL=postgresql://<DATABASE_USER>:<DATABASE_PASSWORD>@<DATABASE_HOST>:<DATABASE_PORT>/<DATABASE_NAME>?schema=public

# THROTTLER - RATE LIMITING
THROTTLE_TTL=<TIME_IN_SECONDS>
THROTTLE_LIMIT=<NUMBER_OF_REQUESTS>
