# Node
PORT=8000

# Http configs
HTTP_TIMEOUT=5000
HTTP_MAX_REDIRECTS=5

# JWT
# Jwt's secret keys
JWT_ACCESS_SECRET="your_jwt_access_secret"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
JWT_ACCESS_EXPIRY="1h"
JWT_REFRESH_EXPIRY="24h"

# THROTTLER - RATE LIMITING
THROTTLE_TTL=60
THROTTLE_LIMIT=20

# Database
DATABASE_URL="postgresql://postgres:exist@localhost:5432/bolle?schema=public"

# SWAGGER BASIC AUTH
SWAGGER_USER_PASSWORD="password"

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=
REDIS_SSL=

# MailerSend
MAILERSEND_API_KEY="your_mailersend_api_key"
MAIL_FROM="your@domain.com"
MAIL_FROM_NAME="Your Name"
FRONTEND_URL=
